{% extends 'base.html' %}
{% block content %}


<div>
    Name: {{student.user}}
  

    <div class="results">
        <div >
            {% for lesson in student.lessons_completed %}
                Lesson: {{lesson}} <br/>
            {% endfor %}
        </div>
        <div>
            {% for results in student.results%}
                {{results}} <br/>
            {% endfor %}
        </div>
        <a class="waves-effect waves-light btn-small" href="/teacher/classroom/{{student.classroom_id}}">Back</a>
        <a class="waves-effect waves-light btn-small" href="update">update</a>
    </div>
</div>

{% endblock%}