{% extends 'base.html' %}
{% block content %}


<div>
    <h4>Name: {{student.user}}</h4>
  

    <div class="results">
        <div >
           
            <table>
                <th>Lesson</th>
            
            {% for lesson in student.lessons_completed %}
                
                <tr>
                    <td>Lesson: {{lesson}}</td>
                </tr> 
                
            {% endfor %}
           
            </table>
        </div>
        <div>

            <table class="results_table">
                <th>Results</th>
           
            
            {% for results in student.results%}
                <tr>
                <td>{{results}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <a class="waves-effect waves-light btn-small" href="/teacher/classroom/{{student.classroom_id}}">Back</a>
        <a class="waves-effect waves-light btn-small" href="update">update</a>
    </div>
</div>

{% endblock%}