{% extends 'base.html' %}
{% block content %}
{% load static %}

{% if user.is_staff %}
<img class="logo" src = "{% static 'img/tempo_icon.png' %}" alt = "tempo icon">
    <h2 style = "text-align: center;">Welcome Back!</h2>
    <h3 style = "text-align: center;">To get started please click the link below!</h3><br/>
    <h4 style = "text-align: center;"><a href="/teacher/classroom">Classroom</a></h4>
{% elif user.is_authenticated %}
<img class="logo" src = "{% static 'img/tempo_icon.png' %}" alt = "tempo icon">
    <h2 style = "text-align: center;">Welcome Back!</h2>
    <h3 style = "text-align: center;">To get started please click the link below!</h3> <br/>
    <h4 style = "text-align: center;">  <a href="/student/welcome/{{user.student.id}}">Game</a></h4>
{% else %}
<img class="logo" src = "{% static 'img/tempo_icon.png' %}" alt = "tempo icon">
    <h3 style = "text-align: center;">Welcome to Tempo Math!</h3>
    <h5 style = "text-align: center;">Please sign in to get started</h5>
    <a id = "signin" class="waves-effect light-green btn" href="/login">Sign in</a>
{% endif %}
{% endblock %}