{% extends 'base.html' %}
{% block content %}
    Welcome Student!
    {% load static %}
   <img class = {{picture}} src="{% static 'img/Sheep.png' %}" alt="Sheep with flute">
    {% if game_complete %}
    <h1 > Game Complete </h1>
    <h3> You got {{correct}} correct in {{counter}} seconds!</h3>
    {%else%}
    <div class="container row center-align">
          <div class="card teal lighten-2 col s6">
              <h3> {{num1}} </h3>
              <h3>X</h3>
              <h3>{{num2}}</h3>
              <form type="submit" action="" method = "POST" > 
                {% csrf_token %}
                <input  id="answer" type="text" name="answer"  placeholder="" > 
                <button id="submit" type="submit" >Answer</button> 
            </form> 
            {% if answer1 == problem_answer %}
                <p>Correct!</p>
            
                
            {%endif%}
            <p>Amount correct: {{correct}}</p>
          </div>

      </div>
      {%endif%}
{% endblock %}