{% extends 'base.html' %}
{% block content %}
<div class ="row">
    <div class = "col s4 offset-s4">
        <div class="card" id="welcome_card"> 
              <h5>Welcome {{student.user}}!</h5>
              <h6>You have completed lessons: </h6>
              {% for lesson in student.lessons_completed %}
                    <li>{{lesson}}</li>
                    {% endfor %}
                    <a class="waves-effect blue-grey darken-2 btn" href="../../game">Start Lesson {{next_lesson}}</a>
            </div>
          </div>
      </div>
      {% for animal in animal_array %}
      {%load static %}
                <img class = {{animal}} src="{% static 'img/' %}{{animal}}.png" alt="image">
      {% endfor %}
        
{% endblock %}

